<div class="header__top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7">
        <div class="header__top__left">
          <p>{{ section.settings.announcement_text }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="header__top__right">
          <div class="header__top__links">
            {% if customer %}
              <a href="/account">My Account</a>
              <a href="/account/logout">Logout</a>
            {% else %}
              <a href="/account/login">Sign in</a>
              <a href="/account/register">Register</a>
            {% endif %}
          </div>
          <div class="header__top__hover">
            <span>
              {{- cart.currency.iso_code }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free shipping, 30-day return or refund guarantee."
    }
  ]
}
{% endschema %}
